#box1 {
  background-color: cornsilk;
  border-style: solid;
  border-color: rgb(19, 36, 16);
  border-width: 0.21em;
  border-radius: 50px;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding: 4%; 
}

#player-messages {
  padding-top: 0.25em;
  opacity: 0.7;
}

.event {
  color: rgb(255, 255, 255);
}

.player-event {
  color: rgb(165, 220, 235);
}

.system-event {
  color: rgb(221, 148, 40);
}

#random {
  font-size: 1.2em;
}

.about {
  width: 80vw;
  height: 80vw;
  position: relative;
  min-width: 350px;
  min-height: 350px;
  max-width: min(80vmin, 1000px);
  max-height: min(80vmin, 1000px);
  background-color: rgb(19, 36, 16);
  border-radius: 50px;
  border-style: solid;
  border-color: white;
  border-width: 0.2em;
  margin-bottom: 0.5em;
  padding-top: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
  font-size: 1.5em;
}

#jungleBackground {
  background-image: url(https://th.bing.com/th/id/R.1fd6b4f105326d0ad3883446600995ad?rik=nNv5aTWCOc%2fmnw&riu=http%3a%2f%2fwww.publicdomainpictures.net%2fpictures%2f30000%2fvelka%2fjungle-1340466209nfD.jpg&ehk=s3GlLGD8%2fcVxn%2b6mxln6mj1X4pUFW25PoTmSWvJnVXA%3d&risl=&pid=ImgRaw&r=0)
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    flex: 0 80px;
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  footer {
    flex: 0 30px;
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  footer a {
    float: right;
  }
  
  #count {
    color: rgb(246, 239, 158);
  }
  
  .players {
    flex: 1;
    width: 100%;
    padding: 0.5em;
  }
  
  .player-name {
    color: rgb(118, 190, 210);
  }
  
  .game {
    width: 80vw;
    height: 80vw;
    position: relative;
    min-width: 350px;
    min-height: 350px;
    max-width: min(80vmin, 1000px);
    max-height: min(80vmin, 1000px);
    background-color: rgb(19, 36, 16);
    border-radius: 50px;
    border-style: solid;
    border-color: white;
    border-width: 0.2em;
    margin-bottom: 0.5em;
    padding-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    font-size: 1.15em;
  }
  
  .game-name {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }
  